	body {
		margin: 0;
		font-family: sans-serif;
	}

	.accueil {
		text-align: center;
	}

	h2 {
		text-align: center;
		font-size: 50px;
		height: 150px;
		margin-top: 50px;
		margin-bottom: 50px;
		font-weight: bold;
		color: #1E3A5F;
	}

	.titre h2 {
		font-size: 100px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	p {
		text-align: center;
		font-size: 30px;
		color: #DCEEFF;
	}

	.main {
		color: #DCEEFF;
		font-size: 28px;
		font-weight: bold;
	}
	
	.main ul {
		font-size: 22px;
		font-weight: normal;
	}	
	
	.main li {
		font-size: 22px;
		font-weight: normal;
	}
		
	
	.id {
		background-color: #1E3A5F;
	}
	
	.pdfCV {
		display: inline-block;
		background-color: #1E3A5F;
		color: white;
		padding: 10px 15px;
		border-radius: 5px;
		text-decoration: none;
		font-size: 15px;
		margin-top: 5px;
	}

	.pdfCV:hover {
		background-color: #2A527F;
	}
	
	.miniParcours {
		font-size: 20px;
	}

	.liens {
		background: #1177de; /* bleu un peu foncé */
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 60px;
		font-size: 22px;
	}
	
	.liens a { /* garder un espace avec un a pour fonctionner */
		color: white;
		text-decoration: none;
		font-weight: bold;
	}

	.liens a:hover {
		color: #bde3ff;
		transform: scale(1.1);
	}