	
	body {
		margin: 0;
		font-family: sans-serif;
	}

	.accueil {
		font-align: center;
	}

	h2 {
		text-align: center;
		font-size: 100px;
		height: 150px;
		margin-top: 50px;
		font-weight: bold;
	}

	.titre {
		font-size: 100px;
		margin-top: 100px;
	}

	p {
		text-align: center;
		font-size: 30px;
		margin-top: 150px;
	}

	.presentation {
		text-align: left;
		font-weight: bold;
	}
		
	
	.liens {
		background: #1177de; /* bleu un peu foncé */
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 60px;
		font-size: 22px;
	}
	
	.liens a { /* garder un espace avec un a pour fonctionner */
		color: white;
		text-decoration: none;
		font-weight: bold;
	}

	.liens a:hover {
		color: #bde3ff;
		transform: scale(1.1);
	}
